* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
.container {
  width: 80%;
  margin: 0 auto;
}
#hero {
  padding: 40px 0;
}
.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.heroForm {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  input {
    color: white;
    transition: 0.5s;
    border: 2px solid white;
    background: none;
    outline: none;
    border-radius: 50px;
    padding: 10px;
    width: 30px;
    font-size: 20px;
    height: 30px;
  }
  input:focus {
    width: 300px;
    height: 30px;
  }
  input::placeholder {
    color: white;
  }
  button {
    background: none;
    border: 2px solid white;
    /* border: none; */
    color: white;
    transition: 0.5s;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px 35px;
  }
  button:focus {
    color: white;
    background: green;
  }
}

.modal {
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  width: 500px;
  height: 200px;
  padding: 20px;
  background: none;
  /* position: absolute; */
  /* left: 559px;
  top: 500px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  img {
    border-radius: 10px;
  }
  input {
    color: white;
    background: none;
    outline: none;
    border: 2px solid white;
    border-radius: 50px;
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding: 10px;
  }
  input::placeholder {
    color: white;
  }
  button {
    font-size: 20px;
    padding: 15px 35px;
  }
}
.heroResult {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  img {
    width: 200px;
  }
}
.on {
  border-radius: 20px;
  background: none;
  color: white;
  border: 2px solid white;
}
.off {
  border-radius: 20px;
  background: none;
  color: white;
  border: 2px solid white;
}
.on:focus {
  border-radius: 20px;
  border: none;
  background: green;
}
.off:focus {
  background: red;
  border-radius: 20px;
  border: none;
}
